html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40 px;fo
    list-style: none;
    margin: 0;
}

#footer {
    border: 3px black solid;
    position:absolute;
    bottom: 0;
    max-width: 500px;
    margin: 0 auto;
}

.remove {
    padding-bottom: 5px;
}