/*===========================
    GENERAL STYLES
============================*/
html {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: 'Oswald', Arial, sans-serif;
    line-height: 1.42857143;
    color: rgb(15, 56, 20);
    background-color: rgb(243, 130, 24);
}

footer, 
nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #34e91c;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h2 {
    line-height: 50px;
    color: #34e91c;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after,
.container::after,
.navbar::after {
    clear:both;
    display: table;
    content: "";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: "";
    width: 100%;
    position:fixed;
    z-index: 100;
    
}

/*==========================================
    HOME SECTION STYLES
===========================================*/
#home {
    background: url(../images/background.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; 
    padding-bottom: 500px; 
    color: #fff;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant:normal;
    color: rgb(50, 247, 10);
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double rgb(50, 247, 10);
    padding: 10px
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*==================================
    CONTACT STYLES
===================================*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5));
}

#contact {
    background-color: #f5f3f3;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #046109;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #8D8D80;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(230, 99, 13);
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: 'Oswald', sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top:  1px solid #ce690a;
    border-right: 2px solid #cc8e08;
    border-bottom: 2px solid #a17005;
    border-left: 1px solid #8b6c06;
    margin: 10px 1em;
    border-radius: 7px;
    background: #754e05;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: 'Oswald', sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(241, 161, 11, 0.8);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    position: relative;
    display: inline;
    float: right;

}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(225,225,225);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 10px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8D8E8F;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

/*=================================
    FOOTER STYLES
==================================*/
#footer {
    background-color: rgba(100,65,0,.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

.video {
    text-align: center;
    width: 100%;
}

/*==============================
LIGHTBOX STYLES
===============================*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /*==MODAL CONTENT==*/
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /*==CLOSE BUTTON==*/
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /*==HIDE SLIDES BY DEFAULT==*/
  .mySlides {
    display: none;
  }
  
  /*==NEXT AND PREVIOUS BUTTONS==*/
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /*==POSITION 'NEXT' BUTTON TO RIGHT==*/
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /*==HOVER EFFECT==*/
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /*==NUMBER TEXT==*/
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /*==CAPTION TEXT==*/
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }