

body {
    background-color: darkturquoise;
}


img {
    filter: saturate(135%);
    border-radius: 15%;
    height: auto;
    width: 100%;
    
}

footer {
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 3px groove darkslategrey;
    text-align: center;
    
}

th {
    background-color: dimgray;
}

td {
    padding: 5px;
}

table {
    margin: auto;
    width: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: orange;
    
}

.center {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}