

body {
    background-color: darkturquoise;
}


img {
    filter: saturate(135%);
    border-radius: 15%;
    height: auto;
    width: 100%;
    display: block;
    
}

footer {
    text-align: center;
    font-weight: bold;
}

table, th, td {
    border: 3px groove darkslategrey;
    text-align: center;
    
}

th {
    background-color: dimgray;
}

td {
    padding: 5px;
}

table {
    margin: auto;
    width: 50%;
}

.container {
    position: relative;
    text-align: center;
    color: midnightblue;
    
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color: darkslategray;
}

.navbar {
    overflow: hidden;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.navbar a {
    float: left;
    display: block;
    color: deepskyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.main {
    margin-top: 50px;
}

.navbar a:hover {
    background-color: dodgerblue;
    color: gold;

}

.column {
    float: left;
    width: 50%;
    height: 200px;
    background-color: paleturquoise;
    color: darkslategrey;
}

p:hover {
    color: gold;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: darkturquoise;
}

.container:hover .overlay {
    opacity: 1;
}